{% extends 'base.html' %}

{% block title %}
<title>Керування користувачами</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Керування користувачами</h1>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я користувача</th>
                <th>Роль</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <form action="{{ url_for('manage_users') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Видалити</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

